/* 
  ##Cihaz = Masaüstü
  ##Ekran = 1281px 'den yüksek çözünürlükler için
*/

@media (min-width: 1281px) {
  header {
    padding: 120px 0;
  }
}

/* 
  my size
*/

@media (min-width: 1025px) and (max-width: 1280px) {}


@media screen and (max-width:768px) {

  .container {
    padding: 0 20px;
  }

  .content-header h1 {
    font-size: 3rem;
  }

  .burger {
    display: block;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    transform: translate(100%);
    transition: .5s ease;
    margin-bottom: 20px;
  }

  .nav-links .nav-item {
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0;
  }

  .nav-active {
    transform: translateX(0);
  }

  .close .line1 {
    transform: rotate(-45deg) translate(-5px, 3px);
    transition: .3s ease;
  }

  .close .line2 {
    opacity: 0;
  }

  .close .line3 {
    transform: rotate(45deg) translate(-5px, -3px);
    transition: .3s ease;
  }

  @keyframes linksFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .steps {
    flex-direction: column;
  }

  .step-descriptions {
    display: flex;
  }

  .cs-resume-large {
    display: none;
  }

  .cs-resume-small {
    display: block;
  }
}

/* 
  ##Cihaz = Tabletler, Ipad (portrait/dikey modda)
  ##Ekran = 768px to 1024px Arası Ekranlar
*/
@media (min-width: 768px) and (max-width: 1024px) {}

/* 
  ##Cihaz = Tabletler, Ipad (landscape/yatay modda)
  ##Ekran = 768px to 1024px Arası Ekranlar
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

/* 
  ##Cihaz = Düşük Çözünürlüklü Tablet ve Mobil Ekranlar (Landscape / Yatay Modda)
  ##Ekran = 481px to 767px Arası Ekranlar
*/

@media (min-width: 481px) and (max-width: 767px) {}

/* 
  ##Cihaz = En Çok Tercih Edilen Mobil Boyutlar (Portrait/Dikey Modda)
  ##Ekran = 320px to 479px Arası Ekranlar
*/

@media (min-width: 320px) and (max-width: 480px) {}